<!-- Multiple Radios (inline) -->
<div class="form-group">
	<label for="form-field-4" class="col-sm-2 control-label">
		<pstrad><%= label %></pstrad>
	</label>
	<div class="col-sm-9">
		<span class="switch prestashop-switch input-group col-lg-2">
			<input type="radio" name="need_instance" id="need_instance_on" value="1"/>
			<label for="need_instance_on" class="radioCheck">
				<i class="color_success"></i> <pstrad>Yes</pstrad>
			</label>
			<input type="radio" name="need_instance" id="need_instance_off" value="0" checked="checked" />
			<label for="need_instance_off" class="radioCheck">
				<i class="color_danger"></i> <pstrad>No</pstrad>
			</label>
			<a class="slide-button btn"></a>
		</span>
		</span>
	</div>
</div>